<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Google Images</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link
      rel="icon"
      type="image/png"
      href="../assets/img/google-favicon.webp"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="link-wrapper">
      <a class="link" href="../index.html"> Google Search</a>
    </div>
    <div class="wrapper">
      <div id="logo-wrapper">
        <img id="logo" src="../assets/img/google_logo.png" alt="Logo" />
      </div>
      <form action="https://google.com/search">
        <div class="form-input">
          <div class="search">
            <i id="search-icon" class="fa fa-search"></i>
            <input type="hidden" name="tbm" value="isch" />
            <input id="search-input" type="text" name="q" autocomplete="off" />
          </div>
        </div>
        <div class="submit-wrapper">
          <div class="submit">
            <input
              class="button"
              type="submit"
              value="Google Search"
              aria-label="Google Search"
            />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
